body {
  background: #ffece9;
  font-family: "Montserrat";
  color: whitesmoke;
  background-color: black;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

.header {
  margin-top: 30px;
  margin-bottom: 40px;
}

.user-id {
  justify-content: center;
}

.user-name {
  color: rgb(135, 133, 133);
  text-decoration: none;
}

.user-name:hover {
  color: whitesmoke;
}

.profile_picture {
  width: 100px;
  border-radius: 4cm;
  margin-top: 25px;
}

.pie-chart {
  width: 50%;
  margin-top: 40px;
  margin-left: 25%;
}

.project-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
  text-align: left;
  color: whitesmoke;
  font-size: 0.3cm;
}

.items {
  background-color: #1a1b1a;
  margin-bottom: 15px;
  padding: 25px;
  border-radius: 0.3cm;
}

.logo {
  height: 100px;
  margin-right: 10px;
}

.git-logo {
  height: 50px;
  border-radius: 1cm;
  margin-left: 10px;
  margin-bottom: 35px;
}

.footer {
  margin-top: 30px;
  margin-bottom: 0;
  align-items: flex-end;
}

/*tablet menu*/

@media (min-width: 768px) {
  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

/*big screen menu*/

@media (min-width: 992px) {
  .profile_picture {
    width: 250px;
  }

  .pie-chart {
    margin-top: 0;
  }

  .userChart {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .project-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
